<div class="form-group">
    <label for="name">Név</label>
    <input type="text" class="form-control" name="name" id="name" value="{{student.name}}" required>
  </div>
  <div class="form-group">
    <label for="age">Kor</label>
    <input type="number" class="form-control" name="age" id="age" value="{{student.age}}" required>
  </div>
  <div class="form-group">
    <label for="sex">Nem</label>
    <select class="form-control" name="sex" id="sex" value="{{student.sex}}" required>
      <option value="false">Férfi</option>
      <option value="true" {{#if student.sex}}selected="selected"{{/if}}>Nő</option>
    </select>
  </div>
  <div class="form-group">
    <label for="score">Pontszám</label>
    <input type="number" class="form-control" name="score" id="score" value="{{student.score}}" required>
  </div>  

  <input type="submit" class="btn btn-default" value="Küldés">

  <p><a href="/students">Mégse</a></p>
  