<div class="form-group">
    <label for="name">Név</label>
    <input type="text" class="form-control" name="name" id="name" required>
  </div>
  <div class="form-group">
    <label for="age">Kor</label>
    <input type="number" class="form-control" name="age" id="age" required>
  </div>
  <div class="form-group">
    <label for="sex">Nem</label>
    <input type="text" class="form-control" name="sex" id="sex" required>
  </div>
  <div class="form-group">
    <label for="score">Pontszám</label>
    <input type="number" class="form-control" name="score" id="score" required>
  </div>  

  <input type="submit" class="btn btn-default" value="Küldés">

  <p><a href="/students">Mégse</a></p>
  